.hl_live {
    position: absolute;
    right: -1px;
    top: -1px;
    height: 25px;
    width: 64px;
    color: #fff;
    text-indent: -9999px;
    z-index: 0;
    background-size: contain;
    background-repeat:  no-repeat;
    background-position:  0px 0px
}

.chanel-box{
    height: 150px;
    border: 1px solid #ddd; z-index: 1;
    width: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative
}

.chanel-box .desc{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
    padding: 5px;
    background: rgba(0,0,0,0.5);
    margin: 0;
    color: #fff
}

.chanel-box:hover .desc{
    display: block
}