.media-content{
	border: 2px #09c solid;
	display: inline-block;
}

#media-area{
	height: 385px;
	width: 700px;
	background: #000;
	position: relative;
	overflow: hidden;
}

#media-area .video-area{
	height: 100%;
	width: 100%;
}

/*CSS foor advertising*/

#media-area .advertising{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	display: none;
}
#media-area .advertising.active{
	display: block;
}

.ad-continue-btn{
	border: 1px solid #fff;
	padding: 10px;
	position: absolute;
	right: -2px;
	bottom: 100px;
	background: #000;
	color: #fff;
}

.ad-continue-btn:hover, .ad-continue-btn:active, .ad-continue-btn:focus{
	color: #fff;
}

/* CSS For contorl panel */
#media-area .control-panel{
	position: absolute;
	bottom: -40px;
	left: 0;
	width: 100%;
	height: 40px;
	background: rgba(1, 1, 1, 0.5);
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	padding-top: 5px;
}

#media-area:hover .control-panel{
	bottom: 0px;
}

#media-area .control-panel:after{
	content: '';
	display: block;
	clear: both;
}

#media-area .control-panel .left-group{
	float: left;
	margin-left: 10px;
}

#media-area .control-panel .right-group{
	float: right;
	margin-right: 10px;
}

.btn-control{
	color: #fff;
	cursor: pointer;
	padding: 5px 10px;
	display: inline-block;
	border-radius: 5px;
	box-sizing: border-box;
}

.btn-control:hover{
	/*background: #000;*/
	border: 1px solid #fff;
}